ul{
    list-style: none;
    padding: 0;
}
li a{
    color: white;
}
.list{
    color: white;
}
a{
    text-decoration: none;
}
/* .card-color{
    position:absolute;
    z-index: 1;
    border: 1px solid #f8f9fa;
    padding: 0px;
    padding-left: 0px;
} */