*{
    margin: 0px;
    padding: 0px;
    background-color: #212529;
}
ul{
    list-style: none;
}
ul li {
    float: right;
}
span{
    font-family: 'Times New Roman', Times, serif;
}
.conten{
    /* padding: 200px; */
    display: flex;
    justify-content: space-between;
}
 /* dùng flex để căn giữa */
 .vd{
     display: flex;
 }