@font-face{
    font-family: "Alter Gothic";
    src: url('../fonts/UTM-Alter-Gothic.ttf');
}
body {
    font-family: "Alter Gothic";
    font-size: 28px;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
/* img {
    max-width: 100%;
} */
.clearfix {
    clear: both;
}
.mau{
    color: red;
    font-size: 40px;
}
.text{
    float: left;
}
.avt{
    float: right;
}
.avt img{
    width: 30%;
    float: right;
}
