*{
    padding: 0;
    margin: 0;
}
ul{
    list-style: none;
}



/* .div-1{
    border: 3px solid green;
}
.div-2{
    border: 3px solid yellow;
}

@media only screen and (min-width:768px){
    .div-1{
        border: 10px solid green;
    }
    .div-2{
        border: 10px solid yellow;
    }
} */